div {
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
    text-transform: lowercase;
}
div:first-child {
    font-size: 0.9em;
    color: green;
}
div > .odd:only-of-type {
    color:green;
}
div > .even:only-of-type {
    color:red;
}
.big {
    text-transform: uppercase;
}
.line {
    text-decoration: underline;
}