body {
    font-size: 2em;
}
.fixed {
    all:initial;
    margin: 10px 0 0 10px; 
}
div {
    margin: 0 auto;
    margin-top: 1em;
    width: 600px;
    text-align: center;
}
div ~ div{
    font-size: .9em;
}
div ~ div ~ div{
    font-size: .8em;
}
div ~ div ~ div ~ div{
    font-size: .7em;
}
div ~ div ~ div ~ div ~ div{
    font-size: .6em;
}
div ~ div ~ div ~ div ~ div ~ div{
    font-size: .5em;
}
div ~ div ~ div ~ div ~ div ~ div ~ div{
    font-size: .4em;
}
div ~ div ~ div ~ div ~ div ~ div ~ div ~ div{
    font-size: .3em;
}
div ~ div ~ div ~ div ~ div ~ div ~ div ~ div ~ div{
    font-size: .2em;
}
div ~ div ~ div ~ div ~ div ~ div ~ div ~ div ~ div ~ div{
    font-size: .1em;
}

div:nth-child(odd) {
    color:green;
}
div:nth-child(even) {
    color:red;
}
div:nth-child(1n + 1) {
    text-transform: lowercase;
}
div:nth-child(n + 7) {
    text-transform: uppercase;
}
div:nth-child(2n + 8) {
    text-decoration: underline;
}